<div class="admin-container">

    <!-- SIDEBAR -->
    <aside class="sidebar">       

        <nav>
            <a routerLink="dashboard">Dashboard</a>
            <a *ngIf="auth.isAdmin()" routerLink="users">Utilisateurs</a>
            <a *ngIf="auth.isCommercial()" routerLink="vehicules">Véhicules</a>
            <a *ngIf="auth.isCommercial()" routerLink="dossier">Dossiers</a>            
            <a routerLink="commerciaux">Commerciaux</a>

        </nav>

    </aside>

    <!-- MAIN -->
    <div class="main">

        <!-- TOPBAR -->
        

        <!-- CONTENT -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>

    </div>

</div>