<div class="admin-container">

    <!-- SIDEBAR -->
    <aside class="sidebar">

        <h2>M-Motors</h2>

        <nav>
            <a routerLink="dashboard">Dashboard</a>
            <a *ngIf="auth.isAdmin()" routerLink="users">Utilisateurs</a>
            <a *ngIf="auth.isCommercial()" routerLink="vehicules">Véhicules</a>
            <a *ngIf="auth.isCommercial()" routerLink="dossier">Dossiers</a>            
            <a routerLink="commerciaux">Commerciaux</a>

        </nav>

    </aside>

    <!-- MAIN -->
    <div class="main">

        <!-- TOPBAR -->
        <header class="topbar">

            <div class="left">
                <h3>BackOffice</h3>
            </div>

            <div class="right">
                Bonjour <span><b>{{ auth.getUserRole() }} </b></span>   
                <button (click)="logout()">Déconnexion</button>
            </div>

        </header>

        <!-- CONTENT -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>

    </div>

</div>