# Node / Angular
node_modules/
dist/
.tmp/
out-tsc/

# Logs
npm-debug.log*
yarn-error.log*

# Angular
.angular/
.angular-cache/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/

# TypeScript
*.tsbuildinfo
