# -------------------------------
# Node / Angular
# -------------------------------
node_modules/
dist/
.tmp/
out-tsc/

# Logs
npm-debug.log*
yarn-error.log*

# Environment
.env
.env.*.local

# Angular / CLI
.angular/
.angular-cache/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Optional: system temp files
*.tmp
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Build results
build/
