<div class="vehicule-container">

    <div *ngIf="vehicule" class="vehicule-card">

        <!-- IMAGE -->

        <div class="image-section">
            <img [src]="vehicule.imageUrl || 'assets/exemple-de-vehicule.jpg'" alt="Photo véhicule">
        </div>

        <!-- INFOS -->

        <div class="info-section">
            <h1>
                {{ vehicule.marque }}
                {{ vehicule.modele }}
            </h1>

            <p class="type">
                {{ vehicule.typeOffre }}
            </p>

            <p class="price">
                {{ vehicule.prix | currency:'EUR' }}
            </p>

            <div class="details">
                <p>
                    📅 Année :
                    <strong>
                        {{ vehicule.annee || 'N/A' }}
                    </strong>
                </p>
                <p>
                    🛣 Kilométrage :
                    <strong>
                        {{ vehicule.kilometrage || 'N/A' }} km
                    </strong>
                </p>
                <p>
                    🚘 Disponibilité :
                    <strong>
                        {{ vehicule.disponible ? 'Disponible' : 'Indisponible' }}
                    </strong>
                </p>
            </div>

            <!-- DESCRIPTION -->
            <div class="description" *ngIf="vehicule.description">
                <h3>Description</h3>
                <p>
                    {{ vehicule.description }}
                </p>
            </div>

            <!-- BOUTONS ACHAT ET LLD -->
            <div class="actions" *ngIf="vehicule.disponible">
            
                <button *ngIf="vehicule.typeOffre === 'vente'" class="btn-achat"
                    [routerLink]="['/vehicule', vehicule.idVehicule, 'achat']">
            
                    Déposer un dossier Achat
            
                </button>
            
                <button *ngIf="vehicule.typeOffre === 'location'" class="btn-lld"
                    [routerLink]="['/vehicule', vehicule.idVehicule, 'lld']">
            
                    Déposer un dossier Location (LLD)
            
                </button>
                <p class="indisponible" *ngIf="!vehicule.disponible">
                    Véhicule actuellement indisponible
                </p>
            </div>

        </div>
    </div>

</div>