/* LAYOUT GLOBAL */
.client-layout {
    min-height: 100vh;
    background-color: #f4f5f7;
    color: #1e293b;
}

/* NAVBAR */
.client-nav {    
    display: flex;
    align-items: center;
    padding: 18px 30px;
    background: #7c61db;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* LOGO */
.logo {
    
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 40px;
}

/* MENU */
.nav-links {

    display: flex;

    gap: 30px;
}

/* LIENS */
.nav-link {

    position: relative;

    text-decoration: none;

    color: white;

    font-weight: 500;

    padding: 6px 0;
}

/* soulignement animé */
.nav-link::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -4px;

    width: 0;

    height: 2px;

    background-color: white;

    transition: width 0.25s ease;
}

/* hover */
.nav-link:hover::after {

    width: 100%;
}

/* actif */
.nav-link.active {
    font-weight: 600;
}

.nav-link.active::after {

    width: 100%;
}

/* CONTENU */
.client-content {

    padding: 40px;

}

/* Carte blanche */
.client-content {

    padding: 40px;

    background-color: #f4f5f7;

}

.logo a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    cursor: pointer;
}

.logo a:hover {
    opacity: 0.8;
}