<div class="dashboard">

    <h2>Bienvenue {{ clientName }}</h2>

    <div class="stats">

        <div class="card">
            <h3>Dossiers en attente</h3>
            <p>{{ stats.enAttente }}</p>
        </div>

        <div class="card">
            <h3>Acceptés</h3>
            <p>{{ stats.acceptes }}</p>
        </div>

        <div class="card">
            <h3>Refusés</h3>
            <p>{{ stats.refuses }}</p>
        </div>

    </div>

    <div class="section">

        <div *ngIf="lastDossier">
            <h3>Dernier dossier</h3>
            <p>{{ lastDossier.typeDossier }}</p>
            <p>{{ lastDossier.statut }}</p>
            <p>{{ lastDossier.dateCreation | date:'dd/MM/yyyy' }}</p>
        </div>


    </div>

    <div class="section">

        <h3>Documents manquants</h3>

        <ul>
            <li *ngFor="let doc of documentsManquants">
                ⚠️ {{ doc }}
            </li>
        </ul>

    </div>

</div>