<!-- NAVBAR -->
<nav class="navbar">

    <div class="logo">M-MOTORS</div>

    <ul class="menu">
        <li>Acheter</li>
        <li>Vendre</li>
        <li>Services</li>
        <li>À propos</li>
        <li class="contact-item">Nous contacter</li>
    </ul>

    <div class="burger" (click)="toggleMenu()">
        ☰
    </div>

</nav>

<!-- MENU MOBILE -->
<div class="side-menu" [class.open]="menuOpen">
    <div class="close-btn" (click)="toggleMenu()">✕</div>

    <ul>
        <li>Acheter</li>
        <li>Vendre</li>
        <li>Services</li>
        <li>À propos</li>
        <li class="contact-btn">Nous contacter</li>
    </ul>
</div>

<div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>

<!-- RECHERCHE -->
<div class="search-bar">
    <div class="search-container">
        <input type="text" placeholder="Rechercher un véhicule (Audi, BMW, 2022...)" [(ngModel)]="searchTerm"
            (input)="search()">
        <button class="search-btn" (click)="search()">🔍</button>
    </div>
</div>

<!-- HERO -->
<section class="hero">
    <div class="section-container">
        <h1>L'occasion en toute confiance</h1>
        <p>Des véhicules contrôlés, garantis et prêts à prendre la route.</p>
    </div>
</section>

<!-- STATS -->
<section class="stats">
    <div class="section-container stats-grid">
        <div class="stat">
            <h2>+2500</h2>
            <p>Véhicules disponibles</p>
        </div>
        <div class="stat">
            <h2>+35000</h2>
            <p>Clients satisfaits</p>
        </div>
        <div class="stat">
            <h2>24 mois</h2>
            <p>de garantie</p>
        </div>
        <div class="stat">
            <h2>4.7/5</h2>
            <p>Avis clients</p>
        </div>
    </div>
</section>

<!-- VEHICULES -->
<section class="vehicules">
    <div class="section-container">

        <h2>Nos véhicules d'occasion</h2>

        <div class="vehicule-grid">

            <div class="card" *ngFor="let v of vehicules">
                <img [src]="v.imageUrl || 'assets/exemple-de-vehicule.jpg'">

                <div class="card-body">
                    <h3>{{v.marque}} {{v.modele}} - {{v.annee}}</h3>
                    <p>{{v.kilometrage}} km</p>
                    <p class="price">{{v.prix | currency:'EUR'}}</p>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- SERVICES -->
<section class="services">
    <div class="section-container services-grid">

        <div class="service">🚗<p>Achat sécurisé</p>
        </div>
        <div class="service">🔄<p>Reprise véhicule</p>
        </div>
        <div class="service">💰<p>Financement</p>
        </div>
        <div class="service">🛠️<p>SAV dédié</p>
        </div>

    </div>
</section>