.dossier-container {
    padding: 30px;
    background: #f6f7fb;
    min-height: 100vh;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 18px;
}

/* CARD */
.card {
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    transition: 0.25s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* IMAGE */
.image-wrapper {
    height: 160px;
    background: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

/* BADGE */
.badge {
    
    letter-spacing: 0.3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 5px 10px;
    font-size: 11px;
    font-weight: 600;
    border-radius: 20px;

    color: white;
    text-transform: capitalize;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* STATUTS */
.en_attente {
    background: #f59e0b;
}

.en_etude {
    background: #3b82f6;
}

.accepte {
    background: #22c55e;
}

.refuse {
    background: #ef4444;
}

/* PROGRESS */
.progress-bar {
    height: 6px;
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    height: 100%;
    background: linear-gradient(90deg, #4f46e5, #22c55e);
}

/* LABEL */
.progress-label {
    font-size: 11px;
    color: #666;
    margin-top: 6px;
}

/* BUTTON */
.btn {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: #111827;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.btn:hover {
    background: #000;
}