.vehicule-grid {
    padding: 60px 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: bold;
}


/* GRILLE */
.vehicule-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* CARTE */
.vehicule-card {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.vehicule-card {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    /* important pour le zoom image */
}

.vehicule-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 12px 25px rgba(124, 97, 219, 0.25);
}

/* IMAGE */
.vehicule-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 12px;
    transition: transform 0.4s ease;
}

/* zoom image */
.vehicule-card:hover .vehicule-image {
    transform: scale(1.08);
}

/* HEADER */
.vehicule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Badge */
.badge {
    background-color: #7c61db;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 12px;
}

/* BODY */
.vehicule-body p {
    margin: 5px 0;
}

/* Prix */
.price {
    font-size: 20px;
    font-weight: bold;
    color: #e63946;
    margin-top: 10px;
}

/* BOUTON DETAILS */
.btn-details {
    margin-top: 12px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #1e90ff;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-details:hover {
    background-color: #0d6efd;
}